[GdmGreeterTheme]
Author=aptosid art team
Copyright=GPL
Description="aptosid 2009-01 ouranos" 
Greeter=ouranos.xml
Name=aptosid-ouranos
Screenshot=screenshot.jpg
