[GdmGreeterTheme]
Greeter=void.xml
Name=aptosid-void
Description=aptosid 2012-01 void GDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png
