[GdmGreeterTheme]
Greeter=hypnos.xml
Name=aptosid-hypnos
Description=aptosid 2010-01 hypnos GDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png

