[Desktop Entry]
Name=aptosid 2013-01 Ἑσπερίδες Wallpaper
Name[x-test]=xxaptosid 2013-01 Ἑσπερίδες Wallpaperxx
X-KDE-PluginInfo-Name=aptosid-hesperides
X-KDE-PluginInfo-Author=aptosid Art Team
X-KDE-PluginInfo-Email=fullstory-art-dev@lists.berlios.de
X-KDE-PluginInfo-License=GPLv2
