[KSplash Theme: aptosid-apate]
Name = aptosid 2010-03 (Apate) Splash Screen
Description = aptosid Apate Splash Screen
Version = 1.0
Author = Rick Battle <rick.battle@solmera.com>
Homepage = http://www.aptosid.com
# Theme behaviour settings.
Engine = KSplashX
