[Desktop Entry]
Name=aptosid 2012-01 ασάφεια Wallpaper
Name[x-test]=xxaptosid 2012-01 ασάφεια Wallpaperxx
X-KDE-PluginInfo-Name=aptosid-void
X-KDE-PluginInfo-Author=aptosid Art Team
X-KDE-PluginInfo-Email=fullstory-art-dev@lists.berlios.de
X-KDE-PluginInfo-License=GPLv2
