[GdmGreeterTheme]
Greeter=aether.xml
Name=sidux-aether
Description=sidux 2009-02 aether GDM Theme
Author=sidux art team
Copyright=GPL
Screenshot=screenshot.png

