Source: sidux-art-hypnos
Section: graphics
Priority: extra
Maintainer: Bernard Gray <bernard.gray@gmail.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>,
 David Creedy <klaymen@sidux.com>
Build-Depends: debhelper (>= 7),
 inkscape,
 perl,
 perlmagick,
 libxml-parser-perl,
 ttf-dustin
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-art-hypnos/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-art-hypnos/trunk/

Package: sidux-art-gdm-hypnos
Architecture: all
Depends: ${misc:Depends},
 gdm
Description: GDM theme for sidux 2010-01 release
 the default GDM theme for the 2010-01 (Ύπνος)
 sidux release.

Package: sidux-art-kde-hypnos
Architecture: all
Provides: sidux-art-kde-theme
Depends: ${misc:Depends},
 sidux-art-ksplash-hypnos,
 sidux-art-kdm-hypnos
Recommends: sidux-art-wallpaper-hypnos,
 dmz-cursor-theme
Description: KDE theme for sidux 2010-01 release
 metapackage providing ksplash, kdm and KDE themes
 for sidux 2010-01 (Ύπνος) release

Package: sidux-art-kdm-hypnos
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for sidux 2010-01 release
 the default KDM theme for the 2010-01 (Ύπνος)
 sidux release.

Package: sidux-art-ksplash-hypnos
Architecture: all
Depends: ${misc:Depends},
 kdebase-workspace-bin
Description: KDE ksplash theme for sidux 2010-01 release
 the default KDE ksplash theme for the 2010-01
 (Ύπνος) sidux release, using the default ksplash engine

Package: sidux-art-xsplash-hypnos
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for sidux 2010-01 release
 the default Xfce splash theme for the 2010-01
 (Ύπνος) sidux release, based on balou theme engine.

Package: sidux-art-wallpaper-hypnos
Architecture: all
Provides: sidux-art-wallpaper-theme
Depends: ${misc:Depends}
Description: sidux wallpaper for 2010-01 release
 The official wallpaper for the 2010-01 (Ύπνος)
 sidux release.

Package: sidux-art-xfce-hypnos
Architecture: all
Provides: sidux-art-xfce-theme
Depends: ${misc:Depends},
 sidux-art-xsplash-hypnos,
 sidux-art-gdm-hypnos | sidux-art-kdm-hypnos
Recommends: sidux-art-wallpaper-hypnos,
 dmz-cursor-theme
Description: Xfce theme for sidux 2010-01 release
 metapackage providing Xfce-splash and gdm themes
 for sidux 2010-01 (Ύπνος) release

