[KSplash Theme: aptosid-eros]
Name = aptosid-eros
Description = aptosid 2007-04 Eros ksplash theme
Version = 1.0
Author = Bernard Gray <bernard.gray@gmail.com>
Homepage = http://aptosid.com
Engine = Moodin

BeginOpacity = 0.1
BaseResolution = 1600,1200

UseIconSet = false
LabelShadow = false

Image1 = ./aptosid-logo.png
Image2 = ./kcmsystem.png
Image3 = ./kcontrol.png
Image4 = ./kcmpci.png
Image5 = ./window_list.png
Image6 = ./desktop.png
Image7 = ./style.png
Image8 = ./kmenu.png

ImageCoords1 = 1150,950
ImageCoords2 = 579,600
ImageCoords3 = 646,600
ImageCoords4 = 713,600
ImageCoords5 = 780,600
ImageCoords6 = 847,600
ImageCoords7 = 913,600
ImageCoords8 = 980,600

LineUpImages = false

Labels = 1
Label1 = Please Wait
LabelFont1 = Verdana,20,-1,0,0,0
LabelColor1 = #FFFFFF
LabelCoords1 = -1,467

StatusCoords = -1,545
StatusColor = #FFFFFF
StatusFont = Verdana,12,-1,0,0,0

ImageOffset1 = 0,20
