[GdmGreeterTheme]
Greeter=apate.xml
Name=aptosid-apate
Description=aptosid 2010-03 apate GDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png

