Source: sidux-art-wallpaper-eros-edu
Section: graphics
Priority: extra
Maintainer: Horst Tritremmel <hjt@sidux.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-art-wallpaper-eros-edu/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-art-wallpaper-eros-edu/trunk/

Package: sidux-art-wallpaper-eros-edu
Depends: ${misc:Depends}
Provides: sidux-art-wallpaper-theme
Conflicts: sidux-art-wallpaper-eros
Architecture: all
Description: sidux-edu wallpaper for 2007-04 release 
 the education wallpaper for the 2007-04 (Eros Education)
 sidux release. Includes 1920x1200, 1600x1200
 and 1280x1024 versions
