[KSplash Theme: aptosid-moros]
Name = aptosid 2009-04 (Moros) Splash Screen
Description = aptosid Moros Splash Screen
Version = 1.0
Author = David Creedy <klaymen@aptosid.com>
Homepage = http://www.aptosid.com
# Theme behaviour settings.
Engine = KSplashX
