[KdmGreeterTheme]
Author=aptosid art team
Copyright=GPL
Description="aptosid 2008-02 erebos" 
Greeter=erebos.xml
Name=aptosid-erebos
Screenshot=screenshot.jpg
