[Desktop Entry]
Name=sidux 2010-01 Ύπνος Wallpaper
Name[x-test]=xxsidux 2010-01 Ύπνος Wallpaperxx
X-KDE-PluginInfo-Name=sidux-hypnos
X-KDE-PluginInfo-Author=sidux Art Team
X-KDE-PluginInfo-Email=fullstory-art-dev@lists.berlios.de
X-KDE-PluginInfo-License=GPLv2
