Source: sidux-art-kde-nyx
Section: graphics
Priority: extra
Maintainer: Bernard Gray <bernard.gray@gmail.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-art-kde-gaia/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-art-kde-gaia/trunk/


Package: sidux-art-kde-nyx
Architecture: all
Provides: sidux-art-kde-theme
Depends: ${misc:Depends},
         ksplash,
         kdm,
         ksplash-engine-moodin
Recommends: sidux-art-wallpaper-nyx,
            kde-style-qtcurve,
            gtk2-engines-qtcurve,
            dmz-cursor-theme
Description: KDE theme for sidux 2008-01 nyx
 Provides ksplash, kdm and KDE themes
 for sidux 2008-01 Nyx release
