[KdmGreeterTheme]
Greeter=moros.xml
Name=aptosid-moros
Description=aptosid 2009-04 moros KDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png

