[GdmGreeterTheme]
Author=Bernard Gray
Copyright=GPL
Description="aptosid 2008-01 Nyx" theme based loosely on "true-nature" by Stephen Spies
Greeter=aptosid-nyx.xml
Name=aptosid-nyx
Screenshot=screenshot.png
