[GdmGreeterTheme]
Author=Bernard Gray
Copyright=GPL
Description="sidux 2008-01 nyx" theme based loosely on "true-nature" by Stephen Spies
Greeter=sidux-nyx.xml
Name=sidux-nyx
Screenshot=screenshot.png
