[Desktop Entry]
Name=aptosid 2011-03 Πόνος Wallpaper
Name[x-test]=xxaptosid 2011-03 Πόνος Wallpaperxx
X-KDE-PluginInfo-Name=aptosid-ponos
X-KDE-PluginInfo-Author=aptosid Art Team
X-KDE-PluginInfo-Email=fullstory-art-dev@lists.berlios.de
X-KDE-PluginInfo-License=GPLv2
