# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Greeter=chaos.xml
Name=sidux 
Version=2.0
Author=sidux art team
Description=sidux kdm theme
Screenshot=screenshot.jpg
