[KdmGreeterTheme]
Greeter=chaos.xml
Name=sidux-chaos
Description=sidux 2007-01 chaos KDM Theme
Author=sidux art team
Copyright=GPL
Screenshot=screenshot.png

