#!/usr/bin/make -f

%:
	dh $@

build:
	dh build --until auto_build
	# requires inkscape to be installed
	@if [ ! -x /usr/bin/inkscape ]; then \
		echo "ERROR: inkscape not installed!" ; \
		false ; \
	fi

	### pkg: sidux-art-wallpaper-erebos ###
	mkdir -p ${CURDIR}/wallpaper/

	# create 1600x1200 wallpaper bitmaps from SVG
	inkscape --export-width=1600 \
		--export-height=1200 \
		--export-png="${CURDIR}/wallpaper/sidux-erebos-1600x1200.png" \
			"wallpaper/sidux-erebos.svg" ;
	test -r ${CURDIR}/wallpaper/sidux-erebos-1600x1200.png
	
	# create 1920x1200 wallpaper bitmaps from SVG
	inkscape --export-width=1920 \
		--export-height=1200 \
		--export-png="${CURDIR}/wallpaper/sidux-erebos-1920x1200.png" \
			"wallpaper/sidux-erebos-wide.svg" ;
	test -r ${CURDIR}/wallpaper/sidux-erebos-1920x1200.png

	### pkg: sidux-art-wallpaper-erebos-edu ###
	mkdir -p ${CURDIR}/wallpaper-edu/

	# create 1600x1200 wallpaper bitmaps from SVG
	inkscape --export-width=1600 \
		--export-height=1200 \
		--export-png="${CURDIR}/wallpaper-edu/sidux-erebos-1600x1200.png" \
			"wallpaper-edu/sidux-erebos-1600x1200.svg" ;
	test -r ${CURDIR}/wallpaper-edu/sidux-erebos-1600x1200.png
	
	# create 1920x1200 wallpaper bitmaps from SVG
	inkscape --export-width=1920 \
		--export-height=1200 \
		--export-png="${CURDIR}/wallpaper-edu/sidux-erebos-1920x1200.png" \
			"wallpaper-edu/sidux-erebos-1920x1200.svg" ;
	test -r ${CURDIR}/wallpaper-edu/sidux-erebos-1920x1200.png
	
	# create 1280x1024 wallpaper bitmaps from SVG
	inkscape --export-width=1280 \
		--export-height=1024 \
		--export-png="${CURDIR}/wallpaper-edu/sidux-erebos-1280x1024.png" \
			"wallpaper-edu/sidux-erebos-1280x1024.svg" ;
	test -r ${CURDIR}/wallpaper-edu/sidux-erebos-1280x1024.png
	
	### pkg: sidux-art-gdm-erebos ###
	mkdir -p ${CURDIR}/dm-gdm/
	
	# create gdm background bitmap from SVG
	inkscape --export-width=1600 \
		--export-height=1200 \
		--export-png="${CURDIR}/dm-gdm/background.png" \
			"dm-kdm/background.svg" ;
	test -r ${CURDIR}/dm-gdm/background.png
	
	# create gdm sidux-logo bitmap from svg
	inkscape --export-width=914 \
		--export-height=142 \
		--export-png="${CURDIR}/dm-gdm/sidux-logo.png" \
			"dm-kdm/sidux-logo.svg" ;
	test -r ${CURDIR}/dm-gdm/sidux-logo.png
	
	# create gdm topbar bitmap from svg
	inkscape --export-width=1600 \
		--export-height=100 \
		--export-png="${CURDIR}/dm-gdm/topbar.png" \
			"dm-kdm/topbar.svg" ;
	test -r ${CURDIR}/dm-gdm/topbar.png
	
	# create gdm button bitmaps from svg
	inkscape --export-width=32 \
		--export-height=32 \
		--export-png="${CURDIR}/dm-gdm/arrow.png" \
			"dm-kdm/arrow.svg" ;
	test -r ${CURDIR}/dm-gdm/arrow.png

	inkscape --export-width=32 \
		--export-height=32 \
		--export-png="${CURDIR}/dm-gdm/gobutton.png" \
			"dm-kdm/gobutton.svg" ;
	test -r ${CURDIR}/dm-gdm/gobutton.png

	### pkg: sidux-art-kdm-erebos ###
	mkdir -p ${CURDIR}/dm-kdm/
	
	# create dm background bitmap from SVG
	inkscape --export-width=1600 \
		--export-height=1200 \
		--export-png="${CURDIR}/dm-kdm/background.png" \
			"dm-kdm/background.svg" ;
	test -r ${CURDIR}/dm-kdm/background.png

	# create kdm sidux-logo bitmap from svg
	inkscape --export-width=914 \
		--export-height=142 \
		--export-png="${CURDIR}/dm-kdm/sidux-logo.png" \
			"dm-kdm/sidux-logo.svg" ;
	test -r ${CURDIR}/dm-kdm/sidux-logo.png

	# create kdm topbar bitmap from svg
	inkscape --export-width=1600 \
		--export-height=100 \
		--export-png="${CURDIR}/dm-kdm/topbar.png" \
			"dm-kdm/topbar.svg" ;
	test -r ${CURDIR}/dm-kdm/topbar.png

	# create kdm button bitmaps from svg
	inkscape --export-width=32 \
		--export-height=32 \
		--export-png="${CURDIR}/dm-kdm/arrow.png" \
			"dm-kdm/arrow.svg" ;
	test -r ${CURDIR}/dm-kdm/arrow.png

	inkscape --export-width=32 \
		--export-height=32 \
		--export-png="${CURDIR}/dm-kdm/gobutton.png" \
			"dm-kdm/gobutton.svg" ;
	test -r ${CURDIR}/dm-kdm/gobutton.png

	### pkg: sidux-art-ksplash-erebos ###
	mkdir -p ${CURDIR}/splash-kde/

	# create splash_bottom bitmap from SVG
	inkscape --export-area=0:0:400:19 \
	        --export-dpi=90 \
		--export-png="${CURDIR}/splash-kde/splash_bottom.png" \
			"splash-kde/splash.svg" ;
	test -r ${CURDIR}/splash-kde/splash_bottom.png

	# create splash_active_bar bitmap from SVG
	inkscape --export-area=0:19:400:83 \
	        --export-dpi=90 \
		--export-png="${CURDIR}/splash-kde/splash_active_bar.png" \
			"splash-kde/splash.svg" ;
	test -r ${CURDIR}/splash-kde/splash_active_bar.png

	# create splash_inactive_bar bitmap from SVG
	inkscape --export-area=0:83:400:147 \
	        --export-dpi=90 \
		--export-png="${CURDIR}/splash-kde/splash_inactive_bar.png" \
			"splash-kde/splash.svg" ;
	test -r ${CURDIR}/splash-kde/splash_inactive_bar.png

	# create splash_top bitmap from SVG
	inkscape --export-area=0:147:400:395 \
	        --export-dpi=90 \
		--export-png="${CURDIR}/splash-kde/splash_top.png" \
			"splash-kde/splash.svg" ;
	test -r ${CURDIR}/splash-kde/splash_top.png

	### pkg: sidux-art-xsplash-erebos ###
	mkdir -p ${CURDIR}/splash-xfce/

	# create xfce splash bitmaps from SVG
	inkscape --export-width=400 \
		--export-height=247 \
		--export-png="${CURDIR}/splash-xfce/logo.png" \
			"splash-xfce/logo.svg" ;
	test -r ${CURDIR}/splash-xfce/logo.png

	# XXX: todo
	
	dh build --remaining

clean:
	dh clean --before clean
	### sidux-art-wallpaper-erebos ###
	rm -f   "$(CURDIR)/wallpaper/sidux-erebos-[0-9]*x[0-9]*.png"
	rm -f   "$(CURDIR)/dm-gdm/*.png"
	rm -f   "$(CURDIR)/dm-kdm/*.png"
	rm -f   "$(CURDIR)/splash-kde/*.png"
	rm -f   "$(CURDIR)/splash-xfce/*.png"

	dh clean --remaining
