[GdmGreeterTheme]
Author=sidux art team
Copyright=GPL
Description="sidux 2009-01 ouranos" 
Greeter=ouranos.xml
Name=sidux-ouranos
Screenshot=screenshot.jpg
