[KdmGreeterTheme]
Greeter=ouranos.xml
Name=sidux-ouranos
Description=sidux 2009-01 ouranos KDM Theme
Author=sidux art team
Copyright=GPL
Screenshot=screenshot.jpg

