[KdmGreeterTheme]
Greeter=ouranos.xml
Name=sidux-ouranos
Description="sidux 2009-01 ouranos" 
Author=sidux art team
Copyright=GPL
Screenshot=screenshot.jpg
