[KdmGreeterTheme]
Greeter=ouranos.xml
Name=aptosid-ouranos
Description=aptosid 2009-01 ouranos KDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.jpg

