[KdmGreeterTheme]
Greeter=pontos.xml
Name=sidux-pontos-destructchaos
Description=sidux 2008-04 pontos KDM Theme
Author=sidux art team
Copyright=GPL
Screenshot=screenshot.jpg

