[KdmGreeterTheme]
Greeter=pontos.xml
Name=aptosid-pontos
Description=aptosid 2008-04 pontos KDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.jpg

