[GdmGreeterTheme]
Greeter=geras.xml
Name=aptosid-geras
Description=aptosid 2011-01 geras GDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png
