Source: sidux-art-gnome-nyx
Section: graphics
Priority: extra
Maintainer: Bernard Gray <bernard.gray@gmail.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0

Package: sidux-art-gnome-nyx
Architecture: all
Provides: sidux-art-gnome
Depends: ${misc:Depends},
         gdm
Description: GNOME theme for sidux 2008-01 nyx
 Provides gdm theme only at this stage,
 for sidux 2008-01 Nyx release
