[GdmGreeterTheme]
Author=aptosid art team
Copyright=GPL
Description="aptosid 2008-03 ourea" 
Greeter=ourea.xml
Name=aptosid-ourea
Screenshot=screenshot.jpg
