[Desktop Entry]
Name=aptosid 2011-01 Γῆρας Wallpaper
Name[x-test]=xxaptosid 2011-01 Γῆρας Wallpaperxx
X-KDE-PluginInfo-Name=aptosid-geras
X-KDE-PluginInfo-Author=aptosid Art Team
X-KDE-PluginInfo-Email=fullstory-art-dev@lists.berlios.de
X-KDE-PluginInfo-License=GPLv2
