[Desktop Entry]
Name=sidux 2009-02 Αιθήρ Wallpaper
Name[x-test]=xxsidux 2009-02 Αιθήρ Wallpaperxx
X-KDE-PluginInfo-Name=sidux-aether
X-KDE-PluginInfo-Author=sidux Art Team
X-KDE-PluginInfo-Email=fullstory-art-dev@lists.berlios.de
X-KDE-PluginInfo-License=LGPLv2
