[Desktop Entry]
Name=aptosid 2009-02 Αιθήρ Wallpaper
Name[x-test]=xxaptosid 2009-02 Αιθήρ Wallpaperxx
X-KDE-PluginInfo-Name=aptosid-aether
X-KDE-PluginInfo-Author=aptosid Art Team
X-KDE-PluginInfo-Email=fullstory-art-dev@lists.berlios.de
X-KDE-PluginInfo-License=LGPLv2
