[GdmGreeterTheme]
Author=Bernard Gray
Copyright=GPL
Description="aptosid 2007-03" theme based loosely on "true-nature" by Stephen Spies
Greeter=aptosid-gaia.xml
Name=aptosid-gaia
Screenshot=screenshot.png
