[Desktop Entry]
Name=aptosid 2013-02 ασάφεια Wallpaper
Name[x-test]=xxaptosid 2013-02 ασάφεια Wallpaperxx
X-KDE-PluginInfo-Name=aptosid-nemesis
X-KDE-PluginInfo-Author=aptosid Art Team
X-KDE-PluginInfo-Email=fullstory-art-dev@lists.berlios.de
X-KDE-PluginInfo-License=GPLv2
