[GdmGreeterTheme]
Greeter=keres.xml
Name=aptosid-keres
Description=aptosid 2010-02 keres GDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png

