Source: aptosid-art-legacy
Section: graphics
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Bernard Gray <bernard.gray@gmail.com>,
 Rick Battle <rick.battle@celtrenicdesigns.com>
Build-Depends: debhelper (>= 9.20120115),
 inkscape,
 perl,
 perlmagick,
 libxml-parser-perl,
 fonts-dustin
Standards-Version: 3.9.5
Vcs-git: git://github.com/fullstory/aptosid-art-legacy.git
Vcs-Browser: https://github.com/fullstory/aptosid-art-legacy

Package: aptosid-art-kde-void
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-void,
 aptosid-art-kdm-void
Recommends: aptosid-art-wallpaper-void,
 dmz-cursor-theme
Description: KDE theme for the aptosid void release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid void (άκυρος)

Package: aptosid-art-kdm-void
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid void release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid void (άκυρος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-void
Architecture: all
Depends: ${misc:Depends},
 kde-workspace-bin
Description: KDE ksplash theme for the aptosid void release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid void (άκυρος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-void
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the void release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid void (άκυρος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-void
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-void
Recommends: aptosid-art-wallpaper-void,
 dmz-cursor-theme
Description: Xfce theme for the aptosid void release
 release specific metapackage depending on xfce4-session and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid void (άκυρος)

Package: aptosid-art-xsplash-void
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid void release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid void (άκυρος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-kde-keres
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-keres,
 aptosid-art-kdm-keres
Recommends: aptosid-art-wallpaper-keres,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2010-02 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2010-02 (Κῆρες)

Package: aptosid-art-kdm-keres
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2010-02 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2010-02 (Κῆρες)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-keres
Architecture: all
Depends: ${misc:Depends},
 kde-workspace-bin
Description: KDE ksplash theme for the aptosid 2010-02 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2010-02 (Κῆρες)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-keres
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2010-02 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2010-02 (Κῆρες)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-keres
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-keres
Recommends: aptosid-art-wallpaper-keres,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2010-02 release
 release specific metapackage depending on xfce4-session and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2010-02 (Κῆρες)

Package: aptosid-art-xsplash-keres
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2010-02 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2010-02 (Κῆρες)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-kde-apate
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-apate,
 aptosid-art-kdm-apate
Recommends: aptosid-art-wallpaper-apate,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2010-03 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2010-03 (Ἀπάτη)

Package: aptosid-art-kdm-apate
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2010-03 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2010-03 (Ἀπάτη)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-apate
Architecture: all
Depends: ${misc:Depends},
 kde-workspace-bin
Description: KDE ksplash theme for the aptosid 2010-03 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2010-03 (Ἀπάτη)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-apate
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2010-03 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2010-03 (Ἀπάτη)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-apate
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-apate
Recommends: aptosid-art-wallpaper-apate,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2010-03 release
 release specific metapackage depending on xfce4-session and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2010-03 (Ἀπάτη)

Package: aptosid-art-xsplash-apate
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2010-03 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2010-03 (Ἀπάτη)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-kde-geras
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-geras,
 aptosid-art-kdm-geras
Recommends: aptosid-art-wallpaper-geras,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2011-01 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2011-01 (Γῆρας)

Package: aptosid-art-kdm-geras
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2011-01 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2011-01 (Γῆρας)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-geras
Architecture: all
Depends: ${misc:Depends},
 kde-workspace-bin
Description: KDE ksplash theme for the aptosid 2011-01 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2011-01 (Γῆρας)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-geras
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2011-01 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2011-01 (Γῆρας)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-geras
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-geras
Recommends: aptosid-art-wallpaper-geras,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2011-01 release
 release specific metapackage depending on xfce4-session and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2011-01 (Γῆρας)

Package: aptosid-art-xsplash-geras
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2011-01 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2011-01 (Γῆρας)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-kde-imera
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-imera,
 aptosid-art-kdm-imera
Recommends: aptosid-art-wallpaper-imera,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2011-02 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2011-02 (Ἡμέρα)

Package: aptosid-art-kdm-imera
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2011-02 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2011-02 (Ἡμέρα)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-imera
Architecture: all
Depends: ${misc:Depends},
 kde-workspace-bin
Description: KDE ksplash theme for the aptosid 2011-02 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2011-02 (Ἡμέρα)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-imera
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2011-02 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2011-02 (Ἡμέρα)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-imera
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-imera
Recommends: aptosid-art-wallpaper-imera,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2011-02 release
 release specific metapackage depending on xfce4-session and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2011-02 (Ἡμέρα)

Package: aptosid-art-xsplash-imera
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2011-02 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2011-02 (Ἡμέρα)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-kde-ponos
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-ponos,
 aptosid-art-kdm-ponos
Recommends: aptosid-art-wallpaper-ponos,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2011-03 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2011-03 (Πόνος)

Package: aptosid-art-kdm-ponos
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2011-03 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2011-03 (Πόνος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-ponos
Architecture: all
Depends: ${misc:Depends},
 kde-workspace-bin
Description: KDE ksplash theme for the aptosid 2011-03 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2011-03 (Πόνος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-ponos
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2011-03 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2011-03 (Πόνος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-ponos
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-ponos
Recommends: aptosid-art-wallpaper-ponos,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2011-03 release
 release specific metapackage depending on xfce4-session and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2011-03 (Πόνος)

Package: aptosid-art-xsplash-ponos
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2011-03 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2011-03 (Πόνος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-kde-thanatos
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-thanatos,
 aptosid-art-kdm-thanatos
Recommends: aptosid-art-wallpaper-thanatos,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2012-01 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2012-01 (Θάνατος)

Package: aptosid-art-kdm-thanatos
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2012-01 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2012-01 (Θάνατος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-thanatos
Architecture: all
Depends: ${misc:Depends},
 kde-workspace-bin
Description: KDE ksplash theme for the aptosid 2012-01 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2012-01 (Θάνατος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-thanatos
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2012-01 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2012-01 (Θάνατος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-thanatos
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-thanatos
Recommends: aptosid-art-wallpaper-thanatos,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2012-01 release
 release specific metapackage depending on xfce4-session and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2012-01 (Θάνατος)

Package: aptosid-art-xsplash-thanatos
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2012-01 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2012-01 (Θάνατος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-kde-hesperides
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-hesperides,
 aptosid-art-kdm-hesperides
Recommends: aptosid-art-wallpaper-hesperides,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2013-01 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2013-01 (Ἑσπερίδες)

Package: aptosid-art-kdm-hesperides
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2013-01 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2013-01 (Ἑσπερίδες)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-hesperides
Architecture: all
Depends: ${misc:Depends},
 kde-workspace-bin
Description: KDE ksplash theme for the aptosid 2013-01 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2013-01 (Ἑσπερίδες)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-hesperides
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2013-01 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2013-01 (Ἑσπερίδες)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-hesperides
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-hesperides
Recommends: aptosid-art-wallpaper-hesperides,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2013-01 release
 release specific metapackage depending on xfce4-session and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2013-01 (Ἑσπερίδες)

Package: aptosid-art-xsplash-hesperides
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2013-01 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2013-01 (Ἑσπερίδες)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-kde-nemesis
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-nemesis,
 aptosid-art-kdm-nemesis
Recommends: aptosid-art-wallpaper-nemesis,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2014-01 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2014-01 (Νέμεσις)

Package: aptosid-art-kdm-nemesis
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2014-01 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2014-01 (Νέμεσις)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-nemesis
Architecture: all
Depends: ${misc:Depends},
 kde-workspace-bin
Description: KDE ksplash theme for the aptosid 2014-01 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2014-01 (Νέμεσις)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-nemesis
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2014-01 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2014-01 (Νέμεσις)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-nemesis
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-nemesis
Recommends: aptosid-art-wallpaper-nemesis,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2014-01 release
 release specific metapackage depending on xfce4-session and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2014-01 (Νέμεσις)

Package: aptosid-art-xsplash-nemesis
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2014-01 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2014-01 (Νέμεσις)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

