Source: aptosid-art-legacy
Section: graphics
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Bernard Gray <bernard.gray@gmail.com>,
 Rick Battle <rick.battle@solmera.com>
Build-Depends: debhelper (>= 9.20120115),
 inkscape,
 perl,
 perlmagick,
 libxml-parser-perl,
 ttf-dustin
Standards-Version: 3.9.2
Vcs-Svn: svn://svn.berlios.de/fullstory/aptosid-art-legacy/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/aptosid-art-legacy/trunk/

#Package: aptosid-art-gdm3-void
#Architecture: all
#Depends: ${misc:Depends},
# gdm3
#Description: GDM3 theme for aptosid void release
# release specific artwork theme for the GDM3 display manager to be used in
# combination GTK2 based desktop environments like Xfce or LXDE.
# .
# GDM3 artwork for: aptosid void (άκυρος)
# .
# This package does not override existing theme configurations and needs to be
# selected manually.

Package: aptosid-art-kde-void
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-void,
 aptosid-art-kdm-void
Recommends: aptosid-art-wallpaper-void,
 dmz-cursor-theme
Description: KDE theme for the aptosid void release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid void (άκυρος)

Package: aptosid-art-kdm-void
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid void release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid void (άκυρος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-void
Architecture: all
Depends: ${misc:Depends},
 kdebase-workspace-bin
Description: KDE ksplash theme for the aptosid void release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid void (άκυρος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-void
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the void release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid void (άκυρος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-void
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-void
Recommends: aptosid-art-wallpaper-void,
 dmz-cursor-theme
Description: Xfce theme for the aptosid void release
 release specific metapackage depending on xfce4-session, gdm3 and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid void (άκυρος)

Package: aptosid-art-xsplash-void
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid void release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid void (άκυρος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

#Package: aptosid-art-gdm3-keres
#Architecture: all
#Depends: ${misc:Depends},
# gdm3
#Description: GDM3 theme for aptosid 2010-02 release
# release specific artwork theme for the GDM3 display manager to be used in
# combination GTK2 based desktop environments like Xfce or LXDE.
# .
# GDM3 artwork for: aptosid 2010-02 (Κῆρες)
# .
# This package does not override existing theme configurations and needs to be
# selected manually.

Package: aptosid-art-kde-keres
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-keres,
 aptosid-art-kdm-keres
Recommends: aptosid-art-wallpaper-keres,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2010-02 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2010-02 (Κῆρες)

Package: aptosid-art-kdm-keres
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2010-02 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2010-02 (Κῆρες)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-keres
Architecture: all
Depends: ${misc:Depends},
 kdebase-workspace-bin
Description: KDE ksplash theme for the aptosid 2010-02 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2010-02 (Κῆρες)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-keres
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2010-02 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2010-02 (Κῆρες)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-keres
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-keres
Recommends: aptosid-art-wallpaper-keres,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2010-02 release
 release specific metapackage depending on xfce4-session, gdm3 and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2010-02 (Κῆρες)

Package: aptosid-art-xsplash-keres
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2010-02 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2010-02 (Κῆρες)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

#Package: aptosid-art-gdm3-apate
#Architecture: all
#Depends: ${misc:Depends},
# gdm3
#Description: GDM3 theme for aptosid 2010-03 release
# release specific artwork theme for the GDM3 display manager to be used in
# combination GTK2 based desktop environments like Xfce or LXDE.
# .
# GDM3 artwork for: aptosid 2010-03 (Ἀπάτη)
# .
# This package does not override existing theme configurations and needs to be
# selected manually.

Package: aptosid-art-kde-apate
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-apate,
 aptosid-art-kdm-apate
Recommends: aptosid-art-wallpaper-apate,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2010-03 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2010-03 (Ἀπάτη)

Package: aptosid-art-kdm-apate
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2010-03 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2010-03 (Ἀπάτη)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-apate
Architecture: all
Depends: ${misc:Depends},
 kdebase-workspace-bin
Description: KDE ksplash theme for the aptosid 2010-03 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2010-03 (Ἀπάτη)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-apate
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2010-03 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2010-03 (Ἀπάτη)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-apate
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-apate
Recommends: aptosid-art-wallpaper-apate,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2010-03 release
 release specific metapackage depending on xfce4-session, gdm3 and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2010-03 (Ἀπάτη)

Package: aptosid-art-xsplash-apate
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2010-03 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2010-03 (Ἀπάτη)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

#Package: aptosid-art-gdm3-geras
#Architecture: all
#Depends: ${misc:Depends},
# gdm3
#Description: GDM3 theme for aptosid 2011-01 release
# release specific artwork theme for the GDM3 display manager to be used in
# combination GTK2 based desktop environments like Xfce or LXDE.
# .
# GDM3 artwork for: aptosid 2011-01 (Γῆρας)
# .
# This package does not override existing theme configurations and needs to be
# selected manually.

Package: aptosid-art-kde-geras
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-geras,
 aptosid-art-kdm-geras
Recommends: aptosid-art-wallpaper-geras,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2011-01 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2011-01 (Γῆρας)

Package: aptosid-art-kdm-geras
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2011-01 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2011-01 (Γῆρας)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-geras
Architecture: all
Depends: ${misc:Depends},
 kdebase-workspace-bin
Description: KDE ksplash theme for the aptosid 2011-01 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2011-01 (Γῆρας)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-geras
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2011-01 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2011-01 (Γῆρας)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-geras
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-geras
Recommends: aptosid-art-wallpaper-geras,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2011-01 release
 release specific metapackage depending on xfce4-session, gdm3 and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2011-01 (Γῆρας)

Package: aptosid-art-xsplash-geras
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2011-01 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2011-01 (Γῆρας)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

#Package: aptosid-art-gdm3-imera
#Architecture: all
#Depends: ${misc:Depends},
# gdm3
#Description: GDM3 theme for aptosid 2011-02 release
# release specific artwork theme for the GDM3 display manager to be used in
# combination GTK2 based desktop environments like Xfce or LXDE.
# .
# GDM3 artwork for: aptosid 2011-02 (Ἡμέρα)
# .
# This package does not override existing theme configurations and needs to be
# selected manually.

Package: aptosid-art-kde-imera
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-imera,
 aptosid-art-kdm-imera
Recommends: aptosid-art-wallpaper-imera,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2011-02 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2011-02 (Ἡμέρα)

Package: aptosid-art-kdm-imera
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2011-02 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2011-02 (Ἡμέρα)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-imera
Architecture: all
Depends: ${misc:Depends},
 kdebase-workspace-bin
Description: KDE ksplash theme for the aptosid 2011-02 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2011-02 (Ἡμέρα)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-imera
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2011-02 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2011-02 (Ἡμέρα)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-imera
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-imera
Recommends: aptosid-art-wallpaper-imera,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2011-02 release
 release specific metapackage depending on xfce4-session, gdm3 and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2011-02 (Ἡμέρα)

Package: aptosid-art-xsplash-imera
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2011-02 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2011-02 (Ἡμέρα)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

#Package: aptosid-art-gdm3-ponos
#Architecture: all
#Depends: ${misc:Depends},
# gdm3
#Description: GDM3 theme for aptosid 2011-03 release
# release specific artwork theme for the GDM3 display manager to be used in
# combination GTK2 based desktop environments like Xfce or LXDE.
# .
# GDM3 artwork for: aptosid 2011-03 (Πόνος)
# .
# This package does not override existing theme configurations and needs to be
# selected manually.

Package: aptosid-art-kde-ponos
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-ponos,
 aptosid-art-kdm-ponos
Recommends: aptosid-art-wallpaper-ponos,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2011-03 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2011-03 (Πόνος)

Package: aptosid-art-kdm-ponos
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2011-03 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2011-03 (Πόνος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-ponos
Architecture: all
Depends: ${misc:Depends},
 kdebase-workspace-bin
Description: KDE ksplash theme for the aptosid 2011-03 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2011-03 (Πόνος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-ponos
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2011-03 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2011-03 (Πόνος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-ponos
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-ponos
Recommends: aptosid-art-wallpaper-ponos,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2011-03 release
 release specific metapackage depending on xfce4-session, gdm3 and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2011-03 (Πόνος)

Package: aptosid-art-xsplash-ponos
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2011-03 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2011-03 (Πόνος)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

