[KSplash Theme: aptosid-stands-up]
Name = aptosid stands up
Description = aptosid Stands Up Splash Screen
Version = 0.2
Author = Rick Battle <rick.battle@celtrenicdesigns.com> (irc: detaos, forums: destructchaos)
Homepage = http://www.celtrenicdesigns.com
# Theme behaviour settings.
Engine = KSplashX

