[GdmGreeterTheme]
Author=Bernard Gray
Copyright=GPL
Description="sidux 2007-03" theme based loosely on "true-nature" by Stephen Spies
Greeter=config.xml
Name=sidux-gaia
Screenshot=screenshot.png
