[KdmGreeterTheme]
Greeter=aether.xml
Name=aptosid-aether
Description=aptosid 2009-02 aether KDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png

