[KdmGreeterTheme]
Greeter=nemesis.xml
Name=aptosid-nemesis
Description=aptosid 2013-02 nemesis KDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png
