[Desktop Entry]
Name=aptosid 2010-02 Κῆρες Wallpaper
Name[x-test]=xxaptosid 2010-02 Κῆρες Wallpaperxx
X-KDE-PluginInfo-Name=aptosid-keres
X-KDE-PluginInfo-Author=aptosid Art Team
X-KDE-PluginInfo-Email=fullstory-art-dev@lists.berlios.de
X-KDE-PluginInfo-License=GPLv2
