[KdmGreeterTheme]
Greeter=thanatos.xml
Name=aptosid-thanatos
Description=aptosid 2012-01 thanatos KDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png
