[GdmGreeterTheme]
Author=Bernard Gray
Copyright=GPL
Description="sidux 2007-04 eros" theme based loosely on "true-nature" by Stephen Spies
Greeter=sidux-eros.xml
Name=sidux-eros
Screenshot=screenshot.png
