[KdmGreeterTheme]
Greeter=hesperides.xml
Name=aptosid-hesperides
Description=aptosid 2013-01 hesperides KDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png
