[KdmGreeterTheme]
Greeter=apate.xml
Name=aptosid-apate
Description=aptosid 2010-03 apate KDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png
