[KdmGreeterTheme]
Greeter=momos.xml
Name=sidux-momos
Description=sidux 2009-03 momos KDM Theme
Author=sidux art team
Copyright=GPL
Screenshot=screenshot.png

