[KdmGreeterTheme]
Greeter=momos.xml
Name=aptosid-momos
Description=aptosid 2009-03 momos KDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png

