Source: sidux-art-ouranos
Section: graphics
Priority: extra
Maintainer: Bernard Gray <bernard.gray@gmail.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7),
               inkscape,
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-art-ouranos/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-art-ouranos/trunk/

Package: sidux-art-gdm-ouranos
Architecture: all
Depends: ${misc:Depends},
         gdm
Description: GDM theme for sidux 2009-01 release
 the default GDM theme for the 2009-01 (Ouranos)
 sidux release.

#Package: sidux-art-kdm-ouranos
#Architecture: all
#Depends: ${misc:Depends},
#         kdm
#Description: KDM theme for sidux 2009-01 release
# the default KDM theme for the 2009-01 (Ouranos)
# sidux release.
#
#Package: sidux-art-ksplash-ouranos
#Architecture: all
#Depends: ${misc:Depends},
#         ksplash
#Description: KDE ksplash theme for sidux 2009-01 release
# the default KDE ksplash theme for the 2009-01 
# (Ouranos) sidux release, using the default ksplash engine

Package: sidux-art-xsplash-ouranos
Architecture: all
Depends: ${misc:Depends},
         xfce4-session
Description: Xfce splash theme for sidux 2009-01 release
 the default Xfce splash theme for the 2009-01 
 (Ouranos) sidux release, based on balou theme engine.

Package: sidux-art-wallpaper-ouranos
Architecture: all
Provides: sidux-art-wallpaper-theme
Depends: ${misc:Depends}
Description: sidux wallpaper for 2009-01 release
 The official wallpaper for the 2009-01 (Ouranos)
 sidux release. 

#Package: sidux-art-kde-ouranos
#Architecture: all
#Provides: sidux-art-kde-theme
#Depends: ${misc:Depends},
#         sidux-art-ksplash-ouranos,
#         sidux-art-kdm-ouranos,
#         kde-style-qtcurve,
#         gtk2-engines-qtcurve
#Recommends: sidux-art-wallpaper-ouranos, dmz-cursor-theme
#Description: KDE theme for sidux 2009-01 release
# Virtual package providing ksplash, kdm and KDE themes
# for sidux 2009-01 (Ouranos) release

Package: sidux-art-xfce-ouranos
Architecture: all
Provides: sidux-art-xfce-theme
Depends: ${misc:Depends},
         sidux-art-xsplash-ouranos,
         sidux-art-gdm-ouranos
Recommends: sidux-art-wallpaper-ouranos, dmz-cursor-theme
Description: Xfce theme for sidux 2009-01 release
 Virtual package providing Xfce-splash and gdm themes
 for sidux 2009-01 (Ouranos) release
