[KdmGreeterTheme]
Greeter=hypnos.xml
Name=sidux-hypnos
Description=sidux 2010-01 hypnos KDM Theme
Author=sidux art team
Copyright=GPL
Screenshot=screenshot.png

