[Desktop Entry]
Name=sidux 2009-04 Μόρος Wallpaper
Name[x-test]=xxsidux 2009-04 Μόρος Wallpaperxx
X-KDE-PluginInfo-Name=sidux-moros
X-KDE-PluginInfo-Author=David Creedy
X-KDE-PluginInfo-Email=klaymen@sidux.com
X-KDE-PluginInfo-License=GPLv2
