[Desktop Entry]
Name=aptosid 2009-03 Μώμος Wallpaper
Name[x-test]=xxaptosid 2009-03 Μώμος Wallpaperxx
X-KDE-PluginInfo-Name=aptosid-momos
X-KDE-PluginInfo-Author=aptosid Art Team
X-KDE-PluginInfo-Email=fullstory-art-dev@lists.berlios.de
X-KDE-PluginInfo-License=GPLv2
