[Desktop Entry]
Name=sidux 2009-03 Μώμος Wallpaper
Name[x-test]=xxsidux 2009-03 Μώμος Wallpaperxx
X-KDE-PluginInfo-Name=sidux-momos
X-KDE-PluginInfo-Author=sidux Art Team
X-KDE-PluginInfo-Email=fullstory-art-dev@lists.berlios.de
X-KDE-PluginInfo-License=GPLv2
